#prof-pic {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   padding: 10px;
   border-radius: 50%;
}

.dropdown-menu {
   max-width: 250px;
   padding-bottom: 0;
}

.btn-amazing {
   background-color: #ffea63;
}

.btn-average {
   background-color: #44b539;
}

.btn-sad {
   background-color: #3866b5;
}
